.App {
	font-size: 1.6em;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.nav {
	display: flex;
	list-style: none;
}

.nav li {
	padding: 0.2rem;
}

.controls {
	display: flex;
	max-width: fit-content;
	padding: 1em;
	gap: 0.5em;
}

.mainContainer {
	padding: 1rem;
}

.raceNameTextContainer {
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
}

.raceNameTextContainer h3 {
	border-bottom: 2px solid black;
}

.race-session-header {
	text-transform: capitalize;
	margin-bottom: 1.75em;
}

.session-results-header {
	margin-bottom: 1em;
}

#aboutTime {
	margin: 2rem auto;
	text-align: center;
	background-color: #e10600;
	padding: 0.2em;
}

.timingWrapper {
	display: flex;
	gap: 1em;
}

select {
	border: 2px solid black;
	outline: none;
	border-radius: 0.5rem;
	font-weight: bold;
	background-color: transparent;
	padding: 1em;
}

.timesheetContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-between;
	gap: 1rem;
}

.QualifyingTimeSheet {
	width: 60%;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

/* thead th:nth-child(1) {
	width: 2%;
}

thead th:nth-child(2) {
	width: 2%;
}

thead th:nth-child(3) {
	width: 3%;
}

thead th:nth-child(4) {
	width: 2%;
}
thead th:nth-child(5) {
	width: 2%;
}

thead th:nth-child(6) {
	width: 2%;
}
thead th:nth-child(7) {
	width: 2%;
} */

th,
td {
	text-align: left;
}

th {
	color: gray;
	text-transform: uppercase;
	font-weight: 500;
}

tbody td {
	text-align: justify;
}

tbody tr:nth-child(even) {
	background-color: lightgrey;
}

.timingListRow {
	cursor: pointer;
}

.timingBoxes {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 40%;
}

.timingBox {
	border: 2px solid black;
	padding: 1em;
	font-weight: bold;
	max-width: 100%;
	border-radius: 0.5em;
}

.timingBox-content {
	text-align: center;
}
