.App {
	font-size: 1.6em;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100vh;
	border-radius: 0.5em;
	background-color: #24262b;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.55);

	display: flex;
}

.AppContainer {
	padding: 2em;
	min-width: 75%;
}
